$employee_card_background: rgb(213, 231, 213);

div.pageEmployees {
	span.allEmployeesLink {
		text-decoration: underline;
		cursor: pointer;
	}
	div.employeesArea {
		display: flex;
		flex-wrap: wrap;
		max-width: 1100px;
		div.employeeCard {
			width: 200px;
			background: $employee_card_background;
			margin: 0 10px 10px 0;
			padding: 10px 15px 5px 10px;
			border-radius: 5px;
			box-shadow: 7px 5px 15px -8px #000000;
			div.fullName {
				font-size: 1.5rem;
			}
			div.title {
				font-size: 1.1rem;
				font-style: italic;
				color: brown;
			}
			img.photo {
				width: 200px;
				margin: 10px 5px 2px 3px;
				cursor: pointer;
			}
		}
	}
	div.searchArea {
		background: #ddd;
		padding: 15px;
		margin: 10px 0 20px 0;
		input {
			font-size: 1.5rem;
			width: 300px;
		}
		::placeholder {
			color: #ccc;
		}
	}
	div.singleEmployeeCard {
		background: #eee;
		padding: 20px;
		border: 1px solid #ddd;
		border-radius: 5px;
		margin: 0 0 20px 0;
		max-width: 700px;
		min-height: 212px;
		box-shadow: 7px 5px 15px -8px #000000;
		background: $employee_card_background;
		div.fullName {
			font-size: 2.5rem;
		}
		div.title {
			font-size: 2.1rem;
			font-style: italic;
			color: brown;
		}
		div.innerArea {
			div.info {
				padding: 0 10px 0 0;
			}
			img {
				width: 200px;
				float: right;
				margin: 0 0 0 20px;
			}
			.clear {
				clear: both;
			}
		}
		div.notes {
			margin: 10px 0 0 0;
		}
	}
}

/* smartphone view */
@media (max-width: 577px) {
	div.pageEmployees {
		padding: 0;
		div.totalHeader {
			margin: -5px 0 0 20px;
		}
		div.employeesArea {
			display: block;
			padding: 0;
			margin: 0;
			div.employeeCard {
				width: 100%;
				border-radius: 0;
				padding: 15px;
				box-shadow: none;
				div.fullName {
					font-size: 1.9rem;
				}
				div.title {
					font-size: 1.5rem;
					font-style: italic;
					color: brown;
				}
				img.photo {
					width: 90%;
				}
			}
		}
		div.searchArea {
			input {
				width: 90%;
			}
		}
		div.singleEmployeeCard {
			box-shadow: none;
			min-height: none;
			div.innerArea {
				display: block;
				img {
					width: 130px;
					float: right;
					margin: 0 10px 0 20px;
				}
				div.info {
					div.fullName {
						font-size: 1.7rem;
					}
					div.title {
						font-size: 1.2rem;
					}
					div.notes {
						font-size: 1.1rem;
					}
				}
			}
			.clear {
				clear: both;
			}
		}
	}
}
